.DS_Store
cache/*
module/*
tmp/*
upload/*
log/*
*/.DS_Store
a.out
clihttp
client
design
design/*
frontend
frontend/*
build
build/*
bin
bin/*
log
temp/*
temp
cmake-build-*
.idea
.vscode
www/default/upload