<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>首页模块</title>

  <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/icons/font/bootstrap-icons.css">

  <link href="/css/dashboard.css" rel="stylesheet">
  <script src="/js/jquery.min.js"></script>  
</head>

<body>

  <div class="container-fluid">

    <h5 class="card-title mt-2">首页页面设计</h5>
    <hr>
     
    <div class="row"> 
      <div class="col-md-12">
        正在制作中，请使用内容快列表；
      </div>
    </div>  

  </div>

  <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
  
 
</body>

</html>