<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>栏目管理</title>

  <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/icons/font/bootstrap-icons.css">

  <link href="/css/dashboard.css" rel="stylesheet">
  <script src="/js/jquery.min.js"></script>  
</head>

<body>

  <div class="container-fluid">

    <h5 class="card-title mt-2">栏目管理</h5>
    <hr>
    <div class="row p-3">
      <div class="col-10">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">名称</th>
              <th scope="col">url</th>
              <th scope="col">类型</th>
              <th scope="col">排序</th>
              <th scope="col">显示</th>
              <th scope="col">编辑</th>
            </tr>
          </thead>
          <tbody>
            <%c for(auto &a:obj["list"].as_array()){ %>
              <tr id="topicid_<%c echo<<a["id"].to_string(); %>">
                <td>
                  <%c echo<<a["id"].to_string(); %>
                </td>
                <td <%c if(a["parentid"].to_int()>0){ %>style="padding-left:<%c echo<<(a["level"].to_int()*15+15); %>px"<%c } %>>
                  <%c echo<<a["value"].as_string(); %>
                </td>
                <td>
                  <%c echo<<a["urlpath"].as_string(); %>
                </td>
                <td>
                  <%c 
                      switch(a["cateid"].to_int())
                      {
                            case 0:
                                 echo<<"图文内容";
                                 break;
                            case 1:
                                 echo<<"单页图文";
                                 break;
                            case 2:
                                 echo<<"多页图文";
                                 break;
                            case 3:
                                 echo<<"单页倒叙";
                                 break;   
                            case 4:
                                 echo<<"文档目录";
                                 break;
                            case 5:
                                 echo<<"新闻列表";
                                 break;       
                            case 7:
                                 echo<<"产品展示";
                                 break;     
                            case 9:
                                  echo<<"产品栏目";
                                  break;  
                            case 10:
                                  echo<<"产品列表";
                                  break;       
                            case 13:
                                 echo<<"博客类型";
                                 break;   
                            case 24:
                                 echo<<"品牌分类";
                                 break;  
                            case 31:
                                 echo<<"文章首页图片1";
                                 break;  
                            case 32:
                                 echo<<"文章首页图片2";
                                 break;      
                            case 33:
                                 echo<<"文章单页图片3";
                                 break;   
                            case 34:
                                 echo<<"文章列表无日期1";
                                 break;  
                            case 35:
                                 echo<<"文章单页图片4";            
                            case 100:
                                 echo<<"网站首页";                               
                                 break;                
                      }
                  %>
                </td>
                <td>
                  <input type="text" class="form-inline topicsort col-md-3" id="title_<%c echo<<a["id"].to_string(); %>" name="title_<%c echo<<a["id"].to_string(); %>" value="<%c echo<<a["sortid"].to_string(); %>" onchange="updatetopic(<%c echo<<a["id"].to_string(); %>,this.value)">
                </td>
                <td><input class="form-check-input" type="checkbox" value="<%c echo<<a["id"].to_string(); %>" id="art_<%c echo<<a["id"].to_string(); %>" onclick="artupdateview(this)" <%c if(a["isview"].to_int()==1){ %>checked<%c } %> >
                </td>
                <td>
                  <a href="/admin/edittopic?id=<%c echo<<a["id"].to_string(); %>">编辑</a>｜
                  <a href="/admin/deletetopic?id=<%c echo<<a["id"].to_string(); %>" onclick="return deletetopic(<%c echo<<a["id"].to_string(); %>)">删除</a>
                </td>
              </tr>
              <%c } %>
          </tbody>

        </table>
      </div>
    </div>

  </div>

  <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
  
  <script lang="javascript">
  
    function deletetopic(id)
    {
      if(confirm('是否删除?'))
      {          
          $.getJSON("/admin/deletetopic?id="+id,function(result){
                if(result.code==0)
                {
                
                     $("#topicid_"+id).remove();
                }
                
          });

      }
      return false;
    }
      function updatetopic(id,sortid)
    {
       $.getJSON("/admin/updatetopicsort?id="+id+"&sortid="+sortid,function(result){
                               
       });
    }
    function artupdateview(obj)
    {
      let isview=0;
      if(obj.checked)
        {
           isview=1;
        }
        $.post("/admin/updatetopicview?id="+obj.value,{isview:isview},function(result){
                               
       });
    }
  </script>
</body>

</html>
