<style>
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }
  
  li {
      float: left;
      border-right:1px solid #bbb;
  }
  
  li:last-child {
      border-right: none;
  }
  
  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
  
  li a:hover:not(.active) {
      background-color: #111;
  }
  
  .active {
      background-color: #4CAF50;
  }
  </style>
<ul>
  <li><a class="active" href="/">主页HOME</a></li>
  <li><a href="#news">新闻NEW</a></li>
  <li><a href="#contact">联系Contact</a></li>
  <li style="float:right"><a href="#about">关于About</a></li>
</ul>

<h3>子页面 Sub page include_sub("home/header")导航测试 Nav Test,test url get["aa"] |<%c echo<<vinfo.get["aa"].to_string(); %>| </h3>
     
 